<h1>Doctors</h1>

<p><% @doctors.each do |doctor| %>
    <%= link_to doctor.name, doctor_path(doctor) %><br>
    <%= doctor.department %><br>
    Patients: <%= doctor.patients.count %><br><br>
<% end %>

<%= link_to "View Patients", patients_path %>